@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0;
  @apply text-grey;
}

html {scroll-behavior: smooth;}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply block;
    @apply my-3;
  }
  h2 {
    @apply md:text-3xl;
    @apply text-2xl;
    @apply font-bold;
    @apply block;
    @apply my-3;
    @apply text-green;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
    @apply block;
    @apply my-4;
  }
  h4 {
    @apply text-base;
    @apply font-semibold;
    @apply block;
    @apply my-5;
  }
  h5 {
    @apply text-sm;
    @apply font-semibold;
    @apply block;
    @apply my-6;
  }
  h6 {
    @apply text-xs;
    @apply font-semibold;
    @apply block;
    @apply my-7;
  }
  p {
    @apply block;
    @apply text-base;
    @apply my-4;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
